# .NET 8
# -----------------------
# Binarios generados
bin/
obj/

# Paquetes NuGet
*.nuget.props
*.paket.props
*.paket.targets
**/packages/*
!**/packages/*.config

# Exclusiones específicas para proyectos de .NET Core
# Recomendado si estás utilizando Visual Studio o Rider

# Directorio de salida de Visual Studio
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Nn][Yy]/

# Directorio de salida de Visual Studio Code
.vscode/
.vs/

# Archivos de usuario de Visual Studio
*.user
*.suo
*.sln.docstates

# Respaldo de Visual Studio Code
*.vscode/

# Carpeta del IDE Jetbrains Rider
.idea/

# Archivos de respaldo y caché
*~
*.swp
*.bak

# Otros
Thumbs.db
desktop.ini
PublishProfiles/


## Ignore de angular
# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules

# IDEs y editores
/.idea
.project
.classpath
.c9/
*.launch
.settings/
.vscode/
*.code-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# Logs y archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json